@page
@model Cadet_Uniform_IMS.Pages.StockCRUD.BasketModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/Basket.css" />
</head>
<body>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-success" role="alert">
            @Model.Message
        </div>
    }

    <div class="uniform">
        @if (Model.Items.Count == 0)
        {
            <p>You have no uniform stock in your basket. Visit the browse uniform page by clicking</p>
            <a asp-page="/StockCRUD/Index">Here</a>
        }
        else
        {
            foreach (var item in Model.Items)
            {
                var stock = Model.Stock.FirstOrDefault(i => i.StockID == item.StockID);
                var uniform = Model.Uniform.FirstOrDefault(i => i.UniformID == stock.UniformID);
                if (uniform != null)
                {
                    <div class="item">
                        <div class="content">
                            @{
                                try
                                {
                                    <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(uniform.ImageData))" alt="@uniform.Name" style="width:12vw; height:15vw; max-height: 250px; max-width: 400px" />
                                }
                                catch
                                {
                                    <img src="~/images/empty.png" alt="No Image Provided" style="width:12vw; height:15vw; max-height: 250px; max-width: 400px" />
                                }
                            }

                            <h4>@uniform.Name</h4>

                            @foreach (var attributes in Model.SizeAttributes.Where(i => i.TypeID == uniform.TypeID))
                            {
                                Model.countAttributes++;
                                var sizes = string.Join(", ", Model.StockSizes
                                .Where(i => i.StockID == item.StockID && i.AttributeID == attributes.AttributeID)
                                .Select(s => s.Size)
                                .Distinct());

                                <h5>@attributes.AttributeName: @sizes</h5>
                            }

                            @while (Model.countAttributes < 3)
                            {
                                <h5 style="color: transparent;">H</h5>
                                Model.countAttributes++;
                            }

                            @if (Model.countAttributes == 3)
                            {
                                Model.countAttributes = 0;
                            }

                            <p style="color:darkgreen">Quantity: @item.Quantity</p>
                        </div>

                        <form asp-page-handler="Delete" asp-route-stockID="@item.StockID" method="post">
                            <button class="submit">-</button>
                        </form>
                    </div>
                }
            }
        }
    </div>
    @if (Model.Items.Count > 0)
    {
        <div class="actions">
            @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
            {
                <form asp-page-handler="SubmitStaff" method="post">
                    <label for="SelectedCadetId">Allocate To Cadet (Optional):</label>
                    <select asp-for="SelectedCadetId" asp-items="@(new SelectList(Model.Cadets, "Id", "Name"))">
                        <option value="">-- Select Cadet --</option>
                    </select>
                    <button class="submit">Distribute Uniform</button>
                </form>
            }
            else
            {
                <form asp-page-handler="SubmitCadet" method="post">
                    <button class="submit">Place Uniform Request</button>
                </form>
            }
        </div>
    }
</body>